.homepage {
    .top-categories {
        &-title {
            font-size: 18px;
            text-align: center;
            margin-top: 2em;
        }
    }
    .tile-slide-container{
        overflow: scroll;
        width: 100%;
        margin: 30px 0;
    }
    .tile-slide {
        transition: 450ms transform;
        font-size: 0;
        white-space: nowrap;
        padding-bottom: 5px;
        margin: auto 0;
        &:hover {
            //  transform: translate3d(5px, 0, 0);
        }
        &:hover .tile {
            opacity: .7;
            &:hover {
                transform: scale(1.05);
                opacity: 1
            }
        }
    }
    .tile {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 200px;
        border-radius: 5px;
        margin-right: 10px;
        background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(125,121,120,0.7707282742198442) 100%);
        font-size: 20px;
        cursor: pointer;
        transition: 450ms all;
        transform-origin: center left;
        &:hover {
            .tile__details {
                opacity: 1;
            }
        }
        &:hover ~ .tile {
            transform: translate3d(25px, 0, 0);
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(125,121,120,0.7707282742198442) 100%);
        }
 
    }
    .tile__img {
        width: 130px;
        height: 130px;
        padding: 5px;
        margin: auto;
        display: flex;
        object-fit: cover;
        border-radius: 65px;
    }
    .tile__details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        font-size: 14px;
        opacity: 0;
        // background: linear-gradient(to top, rgb(233, 140, 117) 0%, rgba(236, 211, 211, 0.945) 100%);
        transition: 450px opacity;
        // &:after
        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     display: black; //black
        // }
        // &:after {
        //     margin-top: 25px;
        //     margin-left: 25px;
        //     width: 50px;
        //     height: 50px;
        //     border: 3px solid #ecf0f1;
        //     line-height: 50px;
        //     text-align: center;
        //     border-radius: 100%;
        //     background: rgba(0,0,0,0.5);
        //     z-index: 1;
        // }
        // &:before {
        //     content: '▶';
        //     left: 0;
        //     width: 100%;
        //     font-size: 30px;
        //     margin-left: 7px;
        //     margin-top: 18px;
        //     text-align: center;
        //     z-index: 2;
        // }   
        // .tile:hover &{
        //     opacity: 1
        // }
    }
    // .tile:hover {
    //     opacity: 1
    // }
    .tile__title {
        position: absolute;
        bottom: 0;
        padding: 10px;
        z-index: 3;
    }
  
 
}