<mat-card class="recipe-card">
  <mat-card-header>
    <div mat-card-avatar class="recipe-header-image"></div>
    <mat-card-title>yemiOtola</mat-card-title>
    <mat-card-subtitle>Chef at cofuoven.org</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/ekpang.jpg" alt="Ekpang nkukwo">
  <mat-card-content>
    <p>
      What would you say to the most respected dish in South Nigeria. Ekpang has grown above other dishes among others as favourite dish for people in the SS 9jas. I'll take you through the procedures, ingredients and spiceys you can use for Ekpang. Join me!!!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>CLAP</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
