// :host {
//   display: flex;
//   flex: 1;
// }

// mat-sidenav-container {
//   mat-sidenav {
//     min-height: 100%;
//   }
//   mat-sidenav-content {
//     min-height: 100%
//   }
// }

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}
